/* responsive code */
@media (max-width:768px) {
    .toggle-menu {
        display: block;
    }
    .ul,
    .logo,
    .image1{
        display: none;
    }
    .Service-wrapper,
    .info,
    .footer,
    .wrapper-about-us,
    .contact-wrapper
    {      
        height: 100%;
        flex-wrap: wrap;
        margin:50px;
        margin: auto;   
    }
    .contact,
    .box-child,
    .menu-child1{
        margin:50px;
        margin: auto;  
    }
    .textarea-block,
    .input-box{
        width: 100%;
    }
    .image{
        width: 100%;
       max-width: 250px;
       height: auto;
    }
    
}