/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/


:root {
    
    --primary-color: #FEA116;
    --black: black;
    --color-gris: #f1ede9;
    --gris: rgb(53, 54, 54);
    --b-color: antiquewhite ;
    --font-color:darkorange;
    --ba-c:rgb(32, 32, 32);
    --s-child:#f7b148;
    --f-color: #3a3737;
    --bot: #f3970c;
    --color-s: azure;
    --menup:#b6aeae;
    --shadow:rgba(0,0,0,0.5);
    --font:white ;
    --font-size:15px;
  }
body{
    background-color: var(--ba-c);
}
/*header*/
.header-b,
.headder-wraper{
    width: 100%;
    height:750px;
    background-image: url(../image/20.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-style: groove 3px solid ;   
    border-bottom: 7mm ridge var(--gris);
    position: relative;
    
}

.header-b{   
    height:250px;
    opacity: 0.80;
    z-index: 7;
    

}
.logo{
    max-width: 200px;
    padding-left: 1rem;
}

/* nav-ul-li-style */
.ul{
    display: -webkit-box;
    display: -ms-flexbox;
        
}
.li-a{
    padding: 15px;
}


.ul li a {
    color: var(--color-gris);
    font-size: var(--font-size);
    font-family: "Heebo",sans-serif;   
}

.navigation{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 100%;
}
   
.nav-list {
    position: fixed;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
    top: 0;
    padding-top: 4rem;
    
}
.nav-list li a {
    color:var(--color-gris);
    font-size: 25px;
    margin-right: 20px;
    cursor: pointer;
}


/* burger code */

.toggle-menu {
    position:fixed;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border: 2px solid var(--f-color);
    display: none;
    z-index: 100;
    
}
.line {
    width: 100%;
    height: 3px;
    background-color:var(--font-color);
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(0);
        -ms-transform: translate(-50%, -50%) rotate(0);
            transform: translate(-50%, -50%) rotate(0); 
    -webkit-transition: all 0.3s linear; 
    -o-transition: all 0.3s linear; 
    transition: all 0.3s linear; 
}
.line1 {
    top: 30%;
}
.line3 {
    top: 70%;
}

.active .line1 {
    top: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
        -ms-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg);
}
.active .line2 {
    display: none;
}
.active .line3 {
    top: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
        -ms-transform: translate(-50%, -50%) rotate(-45deg);
            transform: translate(-50%, -50%) rotate(-45deg);
}

.nav-list.toggle {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--bot);
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}


/* contact-box */

.contact-wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 80%;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 0 0 10px var(--black);
            box-shadow: 0 0 10px var(--black);
    
}

.textarea-block{
    width: 480px;
    height: 280px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  .input-box{
    width: 480px;
    height: 60px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
  }
.contact-wrapper:only-child{
  
    background-color:var(--gris);
}


/* fonts-text-style */
.about-res{
max-width: 600px;
width: 100%;
height: 100%;
}
    
h1{
   color: var(--primary-color);
   font-size: 20pt;
   font-family: 'pacifico',cursive;
   padding-top: 10rem;
   padding-left: 2rem;
   text-align: center;
}
h2{
   
    font-size: x-large;
    font-family: 'pacifico',cursive ;
    color:var(--font-color);
    text-align: center;
    margin: 10px;
    
    }
h2::after{
        content:'\2014'; } 
                   
h3{
    text-align: center;
    color: var(--menup);
    margin: 10px;
    font-family: 'Lobster';
   font-size: xx-large;
}

h6{
    color: var(--color-gris);
   font-size: 40pt;
   font-family: Georgia, 'Times New Roman', Times, serif;
   padding-top: 1rem;
   padding-left: 2rem;
}
p{  
    font-family: 'Lobster';
    font-weight: 500;
    text-align: center;
    margin: 10px;
    color: #696363;       
}
.text{
    color: var(--s-child);
    margin-left:5px;
}
a{
    font-size: var(--font-size);
    color: var(--font);
}

.menu-p{
    font-weight: bold;
   font-size:large;
   color: var(--menup);
   margin: 10px;
   border-bottom:var(--bot) 3px solid;
   text-align: center;
}

/* section-service */

.Service-wrapper{   
    background-color: var(--color-s);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
   

}
.Service-child{
    background-color:var(--b-color);
    color:var(--f-color);
    width: 75%;
    height:auto ;
    margin: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;


}

.Service-child:hover{
    background-color:var(--s-child);
    border-radius: 10px;
    color:var(--color-gris);
    -webkit-text-decoration-style: var(--primary-color);
            text-decoration-style: var(--primary-color);

}
/* section-icon-style */
.fa-solid{
 font-size: 50px;
 color: var(--primary-color);
 padding-left: 80px;
 margin: 15px;
 
}

/* about us */

.Service-wrapper, 
.wrapper-about-us
{
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
 width: 80%;       
 height: 100%;       
margin-left: auto;   
margin-right: auto;
margin-top: 20px;
margin-bottom: 20px;
}

.wrapper-about-us {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-ms-flex-pack: distribute;
    justify-content: space-around;
background-color:var(--gris);
}

.box-child1{
    background-color:var(--b-color);
    width: 100%;
    height: 100%;
    margin: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;   
    text-align: center;

}
.box-child1:hover{
    color: var(--color-gris);
    background-color: var(--s-child);
    border-radius: 10px; 
}

/* section-menu */

.menu-wrapper,
.menu-wrapper2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 80%;
    height: 100%;       
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;   
    margin-right: auto;
    background-color: var(--f-color);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.menu-child1{
    width: 80%; 
    text-align: center;
  }

/* images-style */
.box-child img {

    -webkit-animation: imgRotate 50s linear infinite;

            animation: imgRotate 50s linear infinite;
    
}


@-webkit-keyframes imgRotate { 
    100% { 
        -webkit-transform: rotate(360deg); 
                transform: rotate(360deg); 
    }      
        
}


@keyframes imgRotate { 
    100% { 
        -webkit-transform: rotate(360deg); 
                transform: rotate(360deg); 
    }      
        
}

.image{
    max-width: 200px;
    width: 100%;
    max-height:150px ;
    height: 100%;
}

/* button-style */

.li-a,
.read2,
.read
{
    
    border-color: var(--s-child);
    color: #fff;
    background-image: -o-linear-gradient(45deg,  var(--bot) 50%, transparent 60%);
    background-image: linear-gradient(45deg,  var(--bot) 50%, transparent 60%);
    background-position: 100%;
    background-size: 240%;
    -webkit-transition: background 400ms linear;
    -o-transition: background 400ms linear;
    transition: background 400ms linear;
    padding: 10px;
    margin: 10px;
    border-radius: 12px;
    text-align: center;
    text-shadow: 5px 5px 10px var(--black);
    
      }
.li-a:hover,     
.read2:hover,     
.read:hover {
    background-position: 0;
      }

.read2,
.read{
  background-size: 400%;
  
      }
      


/* footer */

  .fa-facebook,
  .fa-twitter,
  .fa-google-plus,
  .fa-whatsapp
  {
      color: var(--s-child);
      font-size: 35px;}

  .map{
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 100%;
    width: 80%;
    
  }
  .footer{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;  
           background-color: var(--f-color);
    margin-top: 30px;
    
    }

  .child-box{
    margin: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 300px;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .info{
    color: var(--color-gris);
    margin: 20px;
    text-align: center;
  }
  
  .Service-wrapper,
  .header, 
  .footer,
  .wrapper-about-us, 
  .menu-wrapper,
  .menu-wrapper2, 
  .contact-wrapper{
      -webkit-box-shadow: 0 0 20px var(--shadow);
              box-shadow: 0 0 20px var(--shadow);
  }



 