@font-face {
    font-family: 'Tiro Devanagari Sanskrit';
    src: url('TiroDevaSanskrit-Regular.eot');
    src: url('TiroDevaSanskrit-Regular.eot?#iefix') format('embedded-opentype'),
        url('TiroDevaSanskrit-Regular.woff2') format('woff2'),
        url('TiroDevaSanskrit-Regular.woff') format('woff'),
        url('TiroDevaSanskrit-Regular.ttf') format('truetype'),
        url('TiroDevaSanskrit-Regular.svg#TiroDevaSanskrit-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

